body{
    
}
.profile{
padding: 50px;
display: flex;
justify-content: space-around;

}
.image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.aboutme{
    text-align: center;
    background-color: rgb(0, 0, 255);
    padding: 60px;

}
.Legal{
    padding-top: 1%;
    padding-bottom: 50px;
}
.me{
    text-align: center;
    font-family: sans-serif;
    padding: 60px 0;
}
.title{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
}
.done{
    align-self: center;
}