*{
    margin: 0;
}

.profile{
padding: 50px;
display: flex;
justify-content: space-around;

}
.Be{
    background-color:#252308;
}
.image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.aboutme{
    text-align: center;
    background-color: #252308;
    padding: 60px;

}
.Legal{
    padding-top: 1%;
    padding-bottom: 50px;
}
.me{
    text-align: center;
    font-family: sans-serif;
    padding: 60px 0;
    background-color: #252308;
    color: khaki;

}
.title{
    text-align: center;
    color: cornsilk;

}
.container{
    display: flex;
    justify-content: space-around;
    background-color:  #252308;
}
.done{
    align-self: center;
    color: thistle;
}