*{
    margin: 0;
}

.profile{
padding: 50px;
display: flex;
justify-content: space-around;
}
.Be{
    background-color: #480032;
    color: white;
    ;
}
.image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.aboutme{
    text-align: center;
    background-color: white;
    padding: 60px;

}
.Legal{
    padding-top: 1%;
    padding-bottom: 50px;
}
.me{
    text-align: center;
    font-family: sans-serif;
    padding: 60px 0;
    background-color: #480032;
    color: white;
    line-height: 1.3rem;

}
.title{
    text-align: center;
    color: cornsilk;
    padding: 2rem 0;

}
.container{
    display: flex;
    justify-content: space-around;
    background-color:  white;
}
.done{
    align-self: center;
    color: black;
}
.obonyo{
    opacity: 0.2;
}
.projects{
    padding: 3rem 0;
}
.kitchen{
    padding: 3rem 0;
    line-height: 1.3rem;
}
.copy{
    opacity: 0.3;
}